<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
@if (ViewBag.DisableTemplateTitle != null && (bool)ViewBag.DisableTemplateTitle)
{
    <title>@ViewBag.Title</title>
}
else
{
    <title>@this.GetSelectedTemplateTitle()@ViewBag.Title</title>
}
<link rel="shortcut icon" type="image/png" href="@this.GetTemplateFileUrl("Images/FavoriteIcon.*")" />

@{
    var useCDN = bool.Parse(this.GetTemplateSetting("CustomTheme.EnableCDN", "True"));
    var icontype = this.GetTemplateSetting("CustomTheme.Icons", "FAColored");
    var kendoassembly = System.Reflection.Assembly.GetAssembly(typeof(Kendo.Mvc.UI.Button));
    var kendoassemblyver = kendoassembly.GetName().Version;
    var kendover = string.Format("{0}.{1}.{2}", kendoassemblyver.Major, kendoassemblyver.Minor, kendoassemblyver.Build);
    var kendotheme = this.GetTemplateSetting("CustomTheme.KendoTheme", "kendo.default.min.css");
    @Styles.Render(this.GetTemplateFileUrl("Shared/_Header.css", true))
    if (useCDN)
    {
        <link href="https://kendo.cdn.telerik.com/@(kendover)/styles/kendo.common.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    }
    else
    {
        <link href="~/Content/kendo/@(kendover)/kendo.common.min.css" rel="stylesheet" type="text/css" />
    }
    @Styles.Render(this.GetTemplateFileUrl(string.Format("~/Content/kendo/{0}/{1}", kendover, kendotheme), true))
    @Styles.Render(this.GetTemplateFileUrl("ThemeBuilder.css", true))
    @Styles.Render(this.GetTemplateFileUrl("Template.css", true))
    switch (icontype)
    {
        case "FAColored":
            @Styles.Render(this.GetTemplateFileUrl("FontIcons.css", true))
            break;
        case "FA":
            @Styles.Render(this.GetTemplateFileUrl("FontIconsSingleColor.css", true))
            break;
        case "Original":
            @Styles.Render(this.GetTemplateFileUrl("NoFontIcons.css", true))
            break;
    }
    @Html.Action("_Background", "Header")
    var customcss = string.Format("~/Views/{0}/Custom.css", TCAdmin.SDK.Web.MVC.Template.GetSelectedTemplate());
    if (System.IO.File.Exists(Server.MapPath(customcss)))
    {
        @Styles.Render(this.GetTemplateFileUrl(customcss, true));
    }

    @Scripts.Render(this.GetTemplateFileUrl("../../Scripts/Scripts.js", true))

    if (useCDN)
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://kendo.cdn.telerik.com/@(kendover)/js/kendo.all.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://kendo.cdn.telerik.com/@(kendover)/js/jszip.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://kendo.cdn.telerik.com/@(kendover)/js/kendo.aspnetmvc.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://kendo.cdn.telerik.com/@(kendover)/js/cultures/kendo.culture.@(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString()).min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/2.29.1/js/jquery.terminal.min.js" integrity="sha512-XKZMMHLWr5T8/9DzxkBteNU27KEz5P/YhubFcSWWkfT9JY7pWCBqb74x5w+xsxovt0ZxYCY+T6jPqq2gqHHmEw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/2.29.1/css/jquery.terminal.min.css" integrity="sha512-IUZunU+aa3AikfzspJ/2SRPyA3r/8W5B8ezVjsgWDFs5F+rjLqYY4E8kCLIVd5nf/e5cW37yaN4bL5X+NYNw3A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    }
    else
    {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/3rdParty/hammerjs/hammer.js")
        <script src="~/Scripts/kendo/@(kendover)/kendo.all.min.js"></script>
        <script src="~/Scripts/kendo/@(kendover)/jszip.min.js"></script>
        <script src="~/Scripts/kendo/@(kendover)/kendo.aspnetmvc.min.js"></script>
        <script src="~/Scripts/kendo/@(kendover)/cultures/kendo.culture.@(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString()).min.js"></script>
    }

    var templatejs = string.Format("~/Views/{0}/Template.js", TCAdmin.SDK.Web.MVC.Template.GetSelectedTemplate());
    if (System.IO.File.Exists(Server.MapPath(templatejs)))
    {
        @Scripts.Render(this.GetTemplateFileUrl(templatejs, true));
    }
    var customjs = string.Format("~/Views/{0}/Custom.js", TCAdmin.SDK.Web.MVC.Template.GetSelectedTemplate());
    if (System.IO.File.Exists(Server.MapPath(customjs)))
    {
        @Scripts.Render(this.GetTemplateFileUrl(customjs, true));
    }

}
<script type="text/javascript">
    TCAdmin.Config.Initialize();
</script>

@* Avoiding flickering in jquery while applying css https://monc.se/kitchen/152/avoiding-flickering-in-jquery/ *@
<script>
    kendo.culture("@(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString())");
    var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
    var is_firefox = navigator.userAgent.toLowerCase().indexOf('firefox') > -1;

    if (is_chrome) {
        document.write('<style id="temp-style" type="text/css">body{display:none}</style>');
    }

    if (is_firefox) {
        document.write('<style id="temp-style" type="text/css">#main,#sidebar{visibility:hidden}</style>');
    }

    $(function () {
        if (is_firefox) {
            setTimeout(function () { $("#temp-style").remove(); })
        } else {
            $("#temp-style").remove();
        }

        $('.title-mobile').parent().textfill({ maxFontPixels: 20 });
    });

    //Prevent double click on buttons
    $(function () {
        $(document).click(function (e) {
            if (e.target.tagName == "BUTTON") {
                $(e.target).addClass('k-state-disabled');
                setTimeout(function () { $(e.target).removeClass('k-state-disabled'); }, 1500);
            }
        });
    });
</script>

<!-- support for toastr -->
@if (useCDN)
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
else
{
    @Styles.Render("~/3rdParty/toastr/toastr.min.css")
    @Scripts.Render("~/3rdParty/toastr/toastr.min.js")
}
<script>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>

<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "dfwo3emsck");
</script>

@this.ImportPlugins()